@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to right, #52796f, #2f3e46);
    color: #2f3e46;
}

.container{
    margin: 0 15px;
}

.form-box{
    width: 100%;
    max-width: 450px;
    padding: 30px;
    background: #84a98c;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: none;
}

.form-box.active{
    display: block;
}

h2{
    font-size: 34px;
    text-align: center;
    margin-bottom: 20px;
}

input, select{
    width: 100%;
    padding: 12px;
    background: #cad2c5;
    border-radius: 6px;
    border: none;
    outline: none;
    font-size: 16px;
    color: #2f3e46;
    margin-bottom: 20px;
}

button{
    width: 100%;
    padding: 12px;
    background: #2f3e46;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #cad2c5;
    font-weight: 500;
    margin-bottom: 20px;
    transition: 0.5s;
}

button:hover{
    background: #354f52;
}

p{
    font-size: 14.5px;
    text-align: center;
    margin-bottom: 10px;
}

p a{
    color: #354f52;
    text-decoration: none;
}

p a:hover{
    text-decoration: underline;
}